/*
Author: Nick Glattard
General purpose CSS that I would like to eventually distribute out to only the files that need it
*/

/*Font we are using across the site*/

.mainContent {
    margin-top: 120px;
    margin-bottom: 60px;
}

.next-logo {
    color: #4082C4;
}


.next-square-logo {
	vertical-align: top;
}

.row-spacing {
	padding-top: 30px;
	padding-bottom: 120px;
}

.about-next {
	text-align: center;
	font-size: 20px;
	font-weight: 250;
}

@media (min-width: 768px){
	.about-next {
		text-align: center;
		font-size: 30px;
		font-weight: 250;
	}
}

.about-next-title {
	text-align: center;
	font-size: 15px;
	font-weight: 700;
}

@media (min-width: 768px){
	.about-next-title {
		text-align: center;
		font-size: 30px;
		font-weight: 700;
	}
}

.about-next-desc {
	text-align: center;
	font-size: 17px;
	font-weight: 250;
}

/*edit description class*/
.description {
	padding-bottom: 20px;
}

/*Edit button color*/
.btn-primary {
	background-color: #67b1ce;
	border-color: #67b1ce;
}

