<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEXT - {{exp_uid}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{{ url_for('query_page.static', filename='js/next_widget.js' )}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    
    <script>
      $(window).load(function() {
        // Set a timeout...and hide address bar
        setTimeout(function(){
          window.scrollTo(0, 1);
        }, 0);
      });
    </script>

    <!-- debrief modal -->
    <div class="modal fade" id="debrief" tabindex="-1" role="dialog" href="#">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="modal-title">Debrief</h1>
          </div>
          <div class="modal-body">
            <h4 id="debrief_text">{{experiment['args']['debrief']|safe}}</h4>
            <br><br>
            User ID: <div id="participant_uid"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container" style="height:90%">
      <!-- instructions at top of page -->
      <div id="top_instructions" class="row" >
        <center><p id="directions_text">{{experiment['args']['instructions']|safe}}</p></center>
      </div>
      <!-- widget wrapper -->
      <div id="wrapper">
        <center><h1>Loading...</h1></center>
      </div>
    <div class="navbar navbar-default navbar-fixed-bottom" style="height: 2em; min-height: 20px;">
      <div class="container">
        <p>User ID: <span id="participant_uid_bottom"></span></p>
      </div>
    </div>

    <script>
      next_widget.setUrl("");
      var tries =  {{experiment['args']['num_tries']}};
      var div_id = "wrapper";
      var exp_uid = "{{exp_uid}}";

      {% if participant_uid %}
      var participant_uid = "{{ participant_uid }}";
      {% else %}
      var participant_uid = next_widget.makeRandomString(30);
      {% endif %}

      $('#participant_uid').html(participant_uid);
      $('#participant_uid_bottom').html(participant_uid);
      var args = {
          name: "getQuery",
          exp_uid: exp_uid,
          args: {
	      participant_uid: participant_uid,
	      widget: true
	  }
      };
      var callbacks = {
        processAnswer_success: function() {
          if(tries > 1){
            tries -=1;
            next_widget.getQuery(div_id, args, callbacks);
          } else{
            $('#wrapper').hide();
	      /*             $('#debrief').show(); */
            $('#debrief').modal('show');
          }
        },
	  
        getQuery_success: function(){
          console.log("successfully got a query")
        },
	  
        widget_failure: function(){
          $('#query').hide();
          $('#debrief').show();
          $('#debrief').modal('show');
        }
      }
      next_widget.getQuery(div_id, args, callbacks);
    </script>
  </body>
</html>
