venv/

# Mac
.DS_Store

# Maven
log/
target/

# Emacs
*~

# Python
*.pyc

# nohup
nohup.out

# Log files
*.log

# EC2 key files
*.pem

# backup files
*.bak

#floo
.floo
.flooignore
.idea/

# testing results are stored here
.cache

# vim
*.swp

local/docker-compose.yml
