---
layout: default
---

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69154318-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="container">
  <h2> NEXT Blog </h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <h2>
	<a class="post-link" href="{{ post.url | remove_first: '/' | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <section itemprop="description">
	<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
      </section>
      <section>
    	<div>{{ post.date | date: "%B %-d, %Y" }}| {{post.post_author}}</div>
      </section>
    </li>
    {% if forloop.last == false %}
    <hr>
    {% endif %}
    {% endfor %}
  </ul>
</div>
