
{% extends "basic.html" %}

{% block custom_dashboard %}

<!--###################### test_error_multiline_plot ###################-->
<div class="container-fluid" style ='padding-bottom: 1cm'>
    <div class="col-lg-10 col-lg-offset-1">
        <h2> Test Error Plot
            <button type="button" class="btn btn-primary btn-xs"
                  onclick="popup_alert('The error against a hold out set. That is, each algorithm learns a classifier based on its training data that it has collected and is evaluated based on the evaluation set supplied to the algorithm on initialization.')">?</button>
        </h2>
    </div>
  <div class="col-lg-10 col-lg-offset-1" style='text-align: center'>
    <div id="test_error_multiline_plot"></div>
  </div>
</div>
<script>

  test_error_multiline_plot = function(data) {
    data['width'] = 800
    data['height'] = 350
    mpld3.draw_figure("test_error_multiline_plot", data);
  }

  $.ajax({
    url: "{{ host_url }}/api/experiment/stats",
    type: "POST",
    contentType: "application/json",
    data: JSON.stringify({  
        'app_id': "{{ app_id }}",
        'exp_uid': "{{ exp_uid }}",
        'exp_key': "{{ exp_key }}",
        'name': 'getStats',
        'args':{
            'stat_id' : 'test_error_multiline_plot',
            'params'  : {'task':''}
            }
        }),
    dataType: "json"
    }).done( function(data,textStatus, jqXHR) {
    delete data['meta']
    test_error_multiline_plot(data)
    }).fail( function(error){
    console.log("Failed to get stats", error);
    });

</script>

{% endblock %} 
