
{% extends "basic.html" %}

{% block custom_dashboard %}

<!--###################### test_error_multiline_plot ###################-->
<div class="container-fluid" style ='padding-bottom: 1cm'>
    <div class="col-lg-10 col-lg-offset-1">
        <h2> Test Error Plot
            <button type="button" class="btn btn-primary btn-xs"
                  onclick="popup_alert('The error against a hold out set defined as \'Test\' on the new experiment page. That is, each algorithm learns an embedding based on its training data that it has collected and is evaluated based on the evaluation set collected as \'Test\'. All results are evaluated using the most up-to-date collection of \'Test\'. The curve denoted as \'Test\' is the \'Test\' collected data evaluated on the embedding was solved for using \'Test\' as training data for the \'Hinge\' method.')">?</button>
        </h2>
    </div>
  <div class="col-lg-10 col-lg-offset-1" style='text-align: center'>
    <div id="test_error_multiline_plot"></div>
  </div>
</div>
<script>

  plot_response = function(data) {
    data.json['width'] = 800
    data.json['height'] = 350
    mpld3.draw_figure("test_error_multiline_plot", data.json);
  }



  data = next_widget.getWidget(
  {
  'app_id': "{{ app_id }}",
  'exp_uid': "{{ exp_uid }}",
  'name': 'getStats',
  'widget_key': "{{ perm_key }}",
  'args':{
  'stat_id' : 'test_error_multiline_plot',
  'params'  : {'task':''}
  }
  },
  plot_response
  );
</script>


<!--##################### most_current_embedding ################ -->
<div class="container-fluid" style ='padding-bottom: 1cm; background-color: #FFFFFF'>
    <div class="col-lg-8 col-lg-offset-2">
        <h2> Embeddings
            <button type="button" class="btn btn-primary btn-xs"
                  onclick="popup_alert('How similar are all of the objects? Objects that are similar will be grouped together. <br><br>e.g., words like \'happy\' and \'excited\' will be closer together than the shortest distance to \'hate\'.')">?</button>
        </h2>
    </div>
    <div class="col-lg-8 col-lg-offset-2" style='width: 840px'>

        <ul class="nav nav-tabs" role="tablist">

            {% for alg in alg_list %}
                {% if loop.first %}
                    <li role="presentation" class="active"><a href="#ranking_{{ alg.alg_label_clean }}" aria-controls="ranking_{{ alg.alg_label_clean }}" role="tab" data-toggle="tab">{{ alg.alg_label_clean }}</a></li>
                {% else %}
                    <li role="presentation"><a href="#ranking_{{ alg.alg_label_clean }}" aria-controls="ranking_{{ alg.alg_label_clean }}" role="tab" data-toggle="tab">{{ alg.alg_label_clean }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for alg in alg_list %}
                {% if loop.first %}
                    <div role="tabpanel" class="tab-pane active" id="ranking_{{ alg.alg_label_clean }}">
                        <div id = "download_embedding_{{ alg.alg_label_clean }}"></div>
                        <div id = "most_current_embedding_{{ alg.alg_label_clean }}" class="embedding"></div>
                    </div>
                {% else %}
                    <div role="tabpanel" class="tab-pane" id="ranking_{{ alg.alg_label_clean }}">
                        <div id = "download_embedding_{{ alg.alg_label_clean }}"></div>
                        <div id = "most_current_embedding_{{ alg.alg_label_clean }}" class="embedding"></div>
                    </div>
                {% endif %}
            <!-- <div role="tabpanel" class="tab-pane active" id="home"> -->


            <script>
              plot_response = function(data) {
                var data_list = JSON.parse(JSON.stringify(data.json.data));
                // var data_list = data.json.data.slice();
                for (var i = 0; i < data_list.length; i++) { 
                    delete data_list[i]['x'];
                    delete data_list[i]['y'];
                    delete data_list[i]['index'];
                }                
                var tmp_data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(data_list));
                var a = document.createElement('a');
                a.href = 'data:' + tmp_data;
                a.download = 'embedding.txt';
                a.innerHTML = 'Download embedding (Generated '+ data.json.timestamp + ' UTC)';
                var container = document.getElementById("download_embedding_{{ alg.alg_label_clean }}");
                container.appendChild(a);

                charts.plotCurrentEmbedding(data.json.data,"most_current_embedding_{{ alg.alg_label_clean }}");
              }


              data = next_widget.getWidget(
              {
              'app_id': "{{ app_id }}",
              'exp_uid': "{{ exp_uid }}",
              'name': 'getStats',
              'widget_key': "{{ perm_key }}",
              'args':{
              'stat_id' : 'most_current_embedding',
              'params'  : {'alg_label': '{{ alg.alg_label }}' }
              }
              },
              plot_response
              );
            </script>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}
