<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <span style="color: #ffffff"><i class="fa fa-bars"></i></span>
      </a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	<ul class="nav navbar-nav">
          <li class="active"><a href="{{site.url}}/index.html">Home</a></li>
	  <li><a href="{{site.url}}/blog.html">Blog</a></li>
          <li><a href="{{site.url}}/team.html">Team</a></li>
	</ul>
      </div>
  </div>
  </nav>

