
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center"
    style="background-color: rgba(0, 0, 0, 0.5);">
        <h1 style="color: #FF7B00;">NEXT</h1>
        <h2>ASK BETTER QUESTIONS.</h2>
        <h2>GET BETTER RESULTS.  </h2>
        <h2>FASTER. AUTOMATED.   </h2>
        <br>
        <a href="{{site.github}}" class="btn btn-danger btn-lg"><i class="fa fa-github
        fa-2x"></i> GitHub</a>
        <a href="http://www.cs.berkeley.edu/~kjamieson/resources/next.pdf"
            class="btn btn-danger btn-lg"><i class="fa fa-book fa-2x"></i> Paper</a>
        <a href="{{site.github}}/wiki" class="btn btn-danger btn-lg"><i class="fa fa-question-circle fa-2x"></i> Docs</a>
        <br><br>
        <a href="blog/" class="btn btn-danger btn-lg"><i class="fa
            fa-rss fa-2x"></i> Blog</a>
        <a href="{{site.next_data}}" class="btn btn-danger btn-lg disabled"><i class="fa
            fa-table fa-2x"></i> Data</a>
    <!--</div>-->
    </div>
</header>

