{% extends "outline.html" %}

{% block title %} Index {% endblock %}

{% block sidebar %}

{% endblock %} 

{% block body %}
<div>
  <div class="col-lg-8 col-lg-offset-2">
    <h1 style="text-align:center;" class="page-header">Welcome to NEXT!</h1>
    <h4 style="text-align:center;">NEXT is a system to connect machine learning algorithms and humans</h4>
    <br><br>
    <p style="text-align:center;padding-bottom:20px;">Here we provide helpful
    links</p>
  </div>
    <div class="row">
	  <div class="col-sm-10 col-sm-offset-1">
        <ul>
            <li><a href="/dashboard/experiment_list">Experiment list</a>: A list of all experiments on this machine.</li>
            <li>Launch an application: </li>
            <ul>
                {% for app in available_apps %}
                <li><a href="/assistant/init/{{app}}/file">{{app}}</a></li>
                {% endfor %}
            </ul>
            <li>Application documentation: </li>
            <ul>
                {% for app in available_apps %}
                <li><a href="/assistant/doc/{{app}}/pretty">{{app}}</a></li>
                {% endfor %}
            </ul>
            <li><a href="http://github.com/nextml/NEXT/wiki">NEXT documentation</a> on the GitHub wiki</li>
            <li><a href="https://github.com/nextml/NEXT">NEXT Source code on GitHub</a></li>
            <li><a href="http://nextml.org">NEXT project homepage</a></li>
        </ul>
	  </div>
	</div>
</div>
{% endblock %} 
