{% extends "outline.html" %}

{% block title %} Backend System monitoring {% endblock %}

{% block sidebar %}

{% endblock %} 

{% block body %}
<!-- <div class="col-lg-12 "> -->
	<div class="col-lg-8 col-lg-offset-2">
		<h1 style="text-align:center;" class="page-header">Backend System monitoring</h1>
		<p style="text-align:center;padding-bottom:20px;">Click on a link to see it's statistics</p>
	</div>

	<div class="col-sm-10 col-sm-offset-1">
		<table class="table table-bordered left">
		  <thead>
		    <th> Monitor </th>
		    <th> Description </th>
		  </thead>
		  <tr>
		    <td>
		      <a href="{{ rabbit_url }}">RabbitMQ</a>
		    </td>
		    <td>
		    Manages Queues
		    </td>
		  </tr>

		  <tr>
		    <td>
		      <a href="{{ cadvisor_url }}">cAdvisor</a>
		    </td>
		    <td>
		    Some container statistics
		    </td>
		  </tr>

		  <tr>
		    <td>
		      <a href="{{ mongodb_url }}">MongoDB</a>
		    </td>
		    <td>
		    Basic stats for MongodDB
		    </td>
		  </tr>

		</table>
	</div>
<!-- </div> -->
{% endblock %} 
