{% extends "outline.html" %}
{% block title %}Backend monitoring{% endblock %}

{% block body %}
<div class="col-lg-8 col-lg-offset-2">
	<h1 class="text-center" class="page-header">Backend System monitoring</h1>
</div>

<div class="col-sm-10 col-sm-offset-1">
	<table class="table table-bordered left">
	  <tr>
	    <th>Monitor</th>
	    <th>Description</th>
	  </tr>

	  <tr>
	    <td><a href="{{ rabbit_url }}">RabbitMQ</a></td>
	    <td>RabbitMQ queue dashboard</td>
	  </tr>
	  <tr>
	    <td><a href="{{ cadvisor_url }}">cAdvisor</a></td>
	    <td>Container statistics</td>
	  </tr>
	  <tr>
	    <td><a href="{{ mongodb_url }}">MongoDB</a></td>
	    <td>MongoDB statistics</td>
	  </tr>
	</table>
</div>
{% endblock %}
