<style>
  html,body{
  height:100%;
  }

  div.container{
  height:100%;
  }

  #wrapper {
    height:100%;
  }

  div.row > div.col-xs-6 {
    height:100%;
    outline: 1px solid black;
  }

  div.row > div.col-xs-12 {
  height:100%;
  padding:10px;
    text-align:center;
    outline: 1px solid black;
  }

  div.option{
  outline: 2px solid black;
  padding:10px;
  height:40%;
  display:inline-block;
  margin:5px;
  }
  
  #center {
    height:50%;
  }
  
  #center_text {
  max-height:25%;
  margin-top:10px;
  margin-bottom:5px;
  }
  
  #query {
  height:25%;
  text-align:center;
  }

  .image_container{
    display:inline-block;
    width:100%;
  height:100%;
  }
  
  #wrapper img{
    vertical-align:middle;
    max-height:100%;
    max-width:100%;
    height:auto;
  }

  .text_container{
  display:table;
  width:100%;
  height:100%;
  }
  
  .text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    font-size: 3vh;
    height:100%;
    width:100%;
  }
</style>
<br />
{% if query.context_type != "none" %}
<div class="row" id="center">
  <div class="col-xs-12">
  {% if query.context_type == "text" %}
  <div class="text_container">
    <div class="text"> {{ query.context }} </div>
  </div>

  {% elif query.context_type == "image" or query.context_type == "img" %}
  <div class="image_container"> 
    <img src='{{ query.context }}'> </img>
  </div>
  {% endif %}
  </div>
</div>

{% endif %}


<div class="row" id="center_text">
  <div class="col-xs-12">
  {% if query.target.primary_type == "image" or query.target.primary_type == "img"%}
  <div class="image_container"> 
    <img class="image" src={{ query.target.primary_description }}> </img>
  </div>
  {% elif query.target.primary_type == "text"%}
  <div class="text_container">
    <div class="text">{{ query.target.primary_description }}</div>
  </div>
  {% endif %}
  </div>
</div>

<script>
  $('#query').css({'-webkit-align-self':'flex-start','align-self':'flex-start'});
</script>
<div id="query" class="row">
  {% for t in rating_options %}
  <div class="option" id="{{loop.index}}"
       onclick="next_widget.processAnswer(&quot;{{ t.target_reward }}&quot;);
                console.log('reporting answer!')
                $('#'+{{loop.index}}).css({'border': '2px solid #FF0000'});">
      {% if t.primary_type == "image" or t.primary_type == "img"%}
      <div class="image_container">
  <img src={{ t.primary_description }}> </img>
      </div>
      {% elif t.primary_type == "text"%}
      <div class="text_container">
        <div class="text">{{ t.primary_description }}</div>
      </div>
      {% endif %}
  </div>
  {% endfor %}
</div>
