<style>
html,body{
	height:100%;
}

div.container{
	height:100%;
}

#wrapper {
	height:100%;
}

div.row > div.col-xs-6 {
	height:100%;
	outline: 1px solid black;
}

div.row > div.col-xs-12 {
	outline: 1px solid black;
	padding:10px;
	text-align:center;
}

#center {
	height:50%;
}

#center > div.col-xs-12 {
	height:100%;
}


#center_text {
	max-height:25%;
	margin-top:10px;
	margin-bottom:5px;
}

#query {
	height:10%;
	text-align:center;
}



.image_container{
	display:inline-block;
	width:100%;
	height:100%;
}


#query > div{
	cursor:pointer;
}

#wrapper img{
	vertical-align:middle;
	max-height:100%;
	max-width:100%;
	height:auto;
}

.text{
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
	font-size: 3vmin;
	width:100%;
	height:auto;
}

</style>
<br>
{% if query.context_type != "none" %}
<div class="row" id="center">
  <div class="col-xs-12"> 
      {% if query.context_type == "text" %}
      <div style="display:table;height:100%;width:100%;">
	<div class="center-block text"> 
	  {{ query.context }}
	</div>
      </div>
      {% elif query.context_type == "image" or query.context_type == "img" %}
      <div class="image_container">
	<img src='{{ query.context }}'> </img>
      </div>
      {% endif %}
  </div>
</div>
{% endif %}

<div id="query" class="row">
  <!-- Left Target -->
  <div class="col-xs-6" id="left">
	{% if query.left.primary_type == "image" or query.left.primary_type == "img"%}
	<img class="center-block" src={{ query.left.primary_description }}> </img>
	{% elif query.left.primary_type == "text"%}
	  <div class="text">
	    {{ query.left.primary_description }}
	  </div>
	{% endif %}
  </div>
  <!-- Right Target -->
  <div class="col-xs-6" id="right">
	{% if query.right.primary_type == "image" or query.right.primary_type == "img" %}
	<img class="center-block" src={{ query.right.primary_description }}> </img>
	{% elif query.right.primary_type == "text" %}
	  <div class="text">
	    {{ query.right.primary_description }}
	  </div>
	{% endif %}
  </div>
</div>

<script>
  console.log()
  document.onkeydown = checkKey;

  var submit_right = function() {
      next_widget.processAnswer({"target_winner": "{{ query.right.target_id }}"});
      $('#right').css({'outline': '2px solid #FF0000'});
  }

  var submit_left = function() {
      next_widget.processAnswer({"target_winner":"{{ query.left.target_id }}"});
      $('#left').css({'outline': '2px solid #FF0000'})
  }

  $('#right').click(function() {
      submit_right();
  });

  $('#left').click(function() {
      submit_left();
  });

  function checkKey(e) {
      e = e || window.event;
      if (e.keyCode == '37') {
	  submit_left();
      }
      else if (e.keyCode == '39') {
	  submit_right();
      }
  }
</script>




