amqp==1.4.9
aniso8601==1.2.1
anyjson==0.3.3
billiard==3.3.0.23
boto==2.48.0
boto3==1.9.71
celery==3.1.25
certifi==2017.4.17
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.1.2
Flask==0.12.4
Flask-Login==0.4.0
Flask-RESTful==0.3.6
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
joblib==0.11
kombu==3.0.37
line_profiler==2.1.2
MarkupSafe==1.0
matplotlib==1.5.3
seaborn==0.9.0
mpld3==0.3
numpy==1.16.4
pandas==0.20.3
nltk==3.4
ply==3.10
pymongo==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==4.2b4
redis==2.10.5
requests==2.21.0
sklearn==0.0
scikit-learn==0.20.4
scipy==0.19.1
six==1.10.0
urllib3==1.24.1
virtualenv==15.1.0
Werkzeug==0.12.2

