<!doctype html>
<html>
  <head>
    <title>Init</title>
    <link rel="stylesheet" type="text/css" href="/assistant/static/pijemont.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="/assistant/static/pijemont.js"></script>
  </head>
  <body style='width: 60%; align-content: center; bgcolor: #f00;' class='text-center'>
    <form enctype="multipart/form-data" id="initExp"></form>
    <script>
      var p = new Pijemont(document.getElementById("initExp"), {{api_doc|tojson|safe}},  "the_form", "/api/experiment", function(val){alert(val);}, "initExp");
    </script>
    <br><br><br><br><br>
    <!-- <br><br><br><br><br> -->
</body></html>
