
{% extends "basic.html" %}

{% block custom_dashboard %}


<!--##################### most_current_embedding ################ -->
<div class="container-fluid" style ='padding-bottom: 1cm; background-color: #FFFFFF'>
    <div class="col-lg-10 col-lg-offset-1">
        <h2> Rankings
            <button type="button" class="btn btn-primary btn-xs"
                  onclick="popup_alert('Sufficient statistics collected by the algorithm, ordered by decreasing order of likelihood of being the winner. The score reflects the empirical probability that a particular arm beats another arm chosen uniformly at random from the total set of arms (e.g. the \'Borda\' score). The precision describes the square root of 1/4 times the inverse of the number of observations. If the so-called \'Borda reduction\' is used then this is an unbiased estimate of the mean and variance of the quantities. Any -1 precision values indicate that that item has not yet receieved answers.')">?</button>
        </h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1">

        <ul class="nav nav-tabs" role="tablist">
            {% for alg in alg_list %}
                {% if loop.first %}
                    <li role="presentation" class="active"><a href="#ranking_{{ alg.alg_label_clean }}" aria-controls="ranking_{{ alg.alg_label_clean }}" role="tab" data-toggle="tab">{{ alg.alg_label_clean }}</a></li>
                {% else %}
                    <li role="presentation"><a href="#ranking_{{ alg.alg_label_clean }}" aria-controls="ranking_{{ alg.alg_label_clean }}" role="tab" data-toggle="tab">{{ alg.alg_label_clean }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>


        <div class="tab-content">
            {% for alg in alg_list %}
                {% if loop.first %}
                    <div role="tabpanel" class="tab-pane active" id="ranking_{{ alg.alg_label_clean }}">
                        <div id = "most_current_ranking_{{ alg.alg_label_clean }}"></div>
                    </div>
                {% else %}
                    <div role="tabpanel" class="tab-pane" id="ranking_{{ alg.alg_label_clean }}">
                        <div id = "most_current_ranking_{{ alg.alg_label_clean }}"></div>
                    </div>
                {% endif %}
            <!-- <div role="tabpanel" class="tab-pane active" id="home"> -->


            <script>
              most_current_ranking_{{ alg.alg_label_clean }} = function(data) {
              charts.createDynamicTable(data, "most_current_ranking_{{ alg.alg_label_clean }}")
              }

              $.ajax({
                    url: "{{ host_url }}/api/experiment/stats",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({  
                        'app_id': "{{ app_id }}",
                        'exp_uid': "{{ exp_uid }}",
                        'exp_key': "{{ exp_key }}",
                        'name': 'getStats',
                        'args':{
                            'stat_id' : 'most_current_ranking',
                            'params'  : {'alg_label': "{{ alg.alg_label }}" }
                            }
                        }),
                    dataType: "json"
                    }).done( function(data,textStatus, jqXHR) {
                    delete data['meta']
                    most_current_ranking_{{ alg.alg_label_clean }}(data)
                    }).fail( function(error){
                    console.log("Failed to get stats", error);
                    });

            </script>
            {% endfor %}
        </div>

    </div>
</div>



{% endblock %}
