<style>
  html,body{
  height:100%;
  }

  div.container{
  height:100%;
  }

  #wrapper {
    height:85%;
  }

  div.row > div.col-xs-6 {
    height:100%;
    outline: 1px solid black;
  }

  div.row > div.col-xs-12 {
    height:100%;
    outline: 1px solid black;
    padding:10px;
    text-align:center;
  }

  #center {
    height:75%;
  }
  
  #query {
    height:25%;
  }
  
  #query > div{
    cursor:pointer;
  }

  #wrapper img{
    vertical-align:middle;
    max-height:100%;
    max-width:100%;
    height:auto;
  }
  
  .text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    font-size: 2vw;
    height:100%;
    width:100%;
  }
  
</style>
<br />
{% if query.context_type != "none" %}
<div class="row" id="center">

  <div class="col-xs-12">
    
      {% if query.context_type == "text" %}
      <div style="display:table;height:100%;width:100%;">
	<div class="center-block text"> 
	  {{ query.context }}
	</div>
      </div>
      {% elif query.context_type == "image" or query.context_type == "img" %}
      
      <div style="display:inline-block;height:100%;width:100%;">
	<img src='{{ query.context }}'> </img>
      </div>
      {% endif %}
  </div>
</div>

<script>
  $('#query').css({'-webkit-align-self':'flex-start','align-self':'flex-start'});
</script>
{% endif %}

<div id="query" class="row">
  <!-- Left Target -->
  <div class="col-xs-6" id="left" onclick="next_widget.processAnswer(&quot;{{ query.left.target_id }}&quot;);
                                          console.log('reporting answer!')
                                          $('#left').css({'border':
                                          '2px solid #FF0000'});">
	{% if query.left.primary_type == "image" or query.left.primary_type == "img"%}
	<img class="center-block" src={{ query.left.primary_description }}> </img>
	{% elif query.left.primary_type == "text"%}
	
	<div style="display:table;height:100%;width:100%;">
	  <div class="center-block text">
	    {{ query.left.primary_description }}
	  </div>
	</div>
	{% endif %}
  </div>

  <!-- Right Target -->
  <div class="col-xs-6" id="right" onclick="next_widget.processAnswer(&quot;{{ query.right.target_id }}&quot;)
                                          console.log('reporting answer!')
                                          $('#right').css({'border':
                                          '2px solid #FF0000'});">
    
	{% if query.right.primary_type == "image" or query.right.primary_type == "img" %}
	<img class="center-block" src={{ query.right.primary_description }}> </img>
	{% elif query.right.primary_type == "text" %}
	
	<div style="display:table;height:100%;width:100%;">
	  <div class="center-block text">
	    {{ query.right.primary_description }}
	  </div>
	</div>
	{% endif %}
  </div>
  
</div>

<script>
  console.log()

  document.onkeydown = checkKey;

  function checkKey(e) {

      e = e || window.event;

      if (e.keyCode == '37') {
         // left arrow
         $('#left').css({'border': '2px solid #FF0000'})
         next_widget.processAnswer("{{ query.left.target_id }}")
      }
      else if (e.keyCode == '39') {
         // right arrow
        $('#right').css({'border': '2px solid #FF0000'})
        next_widget.processAnswer("{{ query.right.target_id }}")
      }
  }
</script>




