<style>
html,body{
	height:100%;
}

div.container{
	height:100%;
}

#wrapper {
	height:100%;
}

div.row > div.col-xs-6 {
	height:100%;
	outline: 1px solid black;
}

div.row > div.col-xs-12 {
	padding:10px;
	text-align:center;
	outline: 1px solid black;
}

div.option{
	outline: 2px solid black;
	padding:10px;
	height:40%;
	display:inline-block;
	margin:5px;
}

#center {
	height:50%;
}

#center > div.col-xs-12 {
	height:100%;
}

#center_text {
	max-height:25%;
	margin-top:10px;
	margin-bottom:5px;
}

#query {
	height:25%;
	text-align:center;
}

.image_container{
	display:inline-block;
	width:100%;
	height:100%;
}

#wrapper img{
	vertical-align:middle;
	max-height:100%;
	max-width:100%;
	height:auto;
}

.text_container{
	display:table;
	width:100%;
}

.text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
	font-size: 3vmin;
	width:100%;
}

.option .text, .option .text_container {
	height:100%;
}
</style>
<br>
<!-- Context -->
{% if query.context_type != "none" %}
<div class="row" id="center">
  <div class="col-xs-12">
    {% if query.context_type == "text" %}
    <div class="text_container">
      <div class="text"> {{ query.context }} </div>
    </div>

    {% elif query.context_type == "image" or query.context_type == "img" %}
    <div class="image_container"> 
      <img src='{{ query.context }}'> </img>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<!-- query -->
<div class="row" id="center_text">
  <div class="col-xs-12">
    {% if query.target.primary_type == "image" or query.target.primary_type == "img"%}
    <div class="image_container"> 
      <img class="image" src={{ query.target.primary_description }}> </img>
    </div>
    {% elif query.target.primary_type == "text"%}
    <div class="text_container">
      <div class="text">{{ query.target.primary_description }}</div>
    </div>
    {% endif %}
  </div>
</div>

<!-- labels -->
<div id="query" class="row">
  {% if query.labels %}
  {% for label in query.labels %}
  <div class="option"
	  id="{{loop.index}}"
	  onclick="submit({{ label.reward }}, {{loop.index}})">
    <div class="text_container">
      <div class="text">{{ label.label }}</div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>


<script>
  var submit = function(reward, index) {
      next_widget.processAnswer({"target_reward": reward});
      $("#"+index).css({'outline': '2px solid #FF0000'});
  }
</script>
